body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    background-image: url("img.jpg");
}
/* #bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    
  } */

.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.container h1{
    margin-top: 0;
    font-size: 24px;
    text-align: center;
}

#taskInput{
    width: calc(100% - 70px);
    padding: 8px;
    margin-bottom: 10px;
}

#taskInput:hover{
    width: 280px;
}

button{
    padding: 8px 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: #ff3700;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-bottom: 5px;
}

li.completed{
    text-decoration: line-through;
}

